{% extends 'index.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    {% for notification in notifications %}
        <div class="alert alert-{{ notification.type }}" role="alert">
        {{ notification.message }}
    </div>
    {% endfor %}

    <div class="container mt-4">
        <h1 class="fs-1">Se connecter</h1>
        <div class="d-flex justify-content-center">  
                <form method="POST" action="/BlogPHP/userLogin" class="mt-3">
                    <div class="mb-3">
                        <label for="username" class="fs-3 form-label">Pseudo :</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="fs-3 form-label">Mot de passe :</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>        
{% endblock %}
