{% extends 'index.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block content %}
    <div class="container mt-4 bg-light">
        <h1 class="fs-1">Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
        <p>URI demandée : {{ uri }}</p>
        <a href="/BlogPHP/home" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
